<div class="row mt-4">
    <mat-card class="col-md-3 ml-5 mr-4 mb-4" *ngFor="let poster of ownPosters" style="background-color: #eef0c6;">
        <mat-card-title-group>
        <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{poster.jobTitle}}</mat-card-title>
        <mat-card-subtitle>
            {{poster.companyName}}
            <!-- 24 <span [innerHTML]="male"></span> -->
        </mat-card-subtitle>
        </mat-card-header>
        <img mat-card-sm-image routerLink="/updateposter/{{poster._id}}" style="cursor:pointer" 
        [src]="poster.iconUrl" *ngIf="poster.iconUrl">
        <img mat-card-sm-image routerLink="/updateposter/{{poster._id}}" style="cursor:pointer" 
        [src]="iconUrl" *ngIf="!poster.iconUrl">
        </mat-card-title-group>

        <mat-card-content class="overflow-auto pt-1" style="height: 9rem;">
            {{poster.description}}
        </mat-card-content>
        <mat-card-actions>
            <button mat-button routerLink="/updateposter/{{poster._id}}" class="button">Edit</button>
            <button mat-button class="button">Colour</button>
        </mat-card-actions>
    </mat-card>
</div>

<div class="col-md-4 mb-3" *ngIf="ownPosters.length===0 && finishInit===true">
    <div class="card text-center">
        <div class="card-body">
            Create a poster now
            <a routerLink="/createposter" class="btn btn-outline-primary">Create</a>
        </div>
    </div>
</div>

<style>
    .mat-card-sm-image {
        opacity: 0.9;
    }

    .mat-card-sm-image:hover { 
        opacity : 1;
        transform: scale(1.05);
    }

    .button:hover { 
        opacity : 1;
        transform: scale(1.1);
    }
</style> 
