<div class="row mt-5">
    <div class="col-md-12 mb-3">
        <div class="card text-center h-100">
            <div class="card-body">
                <p> Company: {{poster.companyName}} </p>
                <label for="title" class="float-left">Title</label>
                <input [(ngModel)]="poster.jobTitle" name="title" type="text" value="poster.jobTitle"
                class="form-control rounded-0" required maxlength="30" #title="ngModel">
                <label for="icon" class="float-left mt-1">Logo</label>
                <div class="image-preview mb-3 mt-3 float-middle" *ngIf="previewUrl">
                    <img [src]="previewUrl" height="100em" width="100em">
                </div>
                <input name="icon" class="form-control float-middle rounded-0 mt-3 mb-3" type="file" accept='image/*'
                       (change)="onFileSelected($event)"/>
                
                <label for="description" class="float-left">Description</label>
                <textarea [(ngModel)]="poster.description" name="description" type="text" 
                class="form-control rounded-0" required #description="ngModel"></textarea>
            </div>
            <p> Created at {{poster.datetime | date:'medium'}} </p>
            <div class="card-footer text-muted">
                <button (click)="goBack(); submitted = true" type="button" class="btn btn-primary float-left">Go Back</button>
                <button (click)="updatePoster(); submitted = true" [disabled]="submitted" type="button" class="btn btn-outline-warning float-right">Submit</button>
                <button (click)="openDeleteDialog();" type="button" class="btn btn-danger float-middle">Delete</button>
            </div>
        </div>
    </div>
</div>
